body {color: navy}
body {font-family: Arial, Helvetica, sans-serif;}
.navy-border {border:5px solid navy}
.green-background {background-color:paleturquoise;}
.yelbgc {background-color: papayawhip;}
.big-font {font-size:x-large;}
